*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
section{
    position: relative;
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/young-female-designer-working-on-a-project.jpg");
    background-position: center;
    background-size: cover;
}
header{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}
h1{
    font-size: 70px;
    margin-top: 30px;
    text-align: center;
    color: rgb(72, 70, 70);
}
h2{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: -20px
}
form{
    text-align: center;
    margin-top: 20px;
}
form [type="submit"]{
    background-color: brown;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}
input{
    margin: 10px ;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
#links{
    text-align: center;
}
li{
    display: inline-block;
    margin: 40px;
    margin-top: 60px;
    font-size: 20px;
}
#serviços-a{
    margin-top: ;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
main{
    position: relative;
    width: 100%;
    min-height: 75vh;
    background-color: brown;
}
#title{
    font-size: 70px;
    text-align: center;
    color: rgb(255, 255, 255);
}
ol{
    margin: 100px;
    text-align: center;
    color: white;
}
dt{
    font-weight:600;
    font-size: 20px;
    color: rgb(250, 182, 56);
}
#myself{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    min-height: 60vh;
    background-color:rgb(250, 182, 56);
}
p{
    line-height: 20px;
    max-width: 500px;
}
#minhafoto{
    width: 300px;
}

#video{
    min-width: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: brown;
    
    
}
#topico{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}
#contato{
    background-color: rgb(224, 219, 219);
}
#rodape{
    display:flex;
    flex-direction: row;
    background-color: brown;
}